# Import Libraries

In [18]:
# Import libraries

import pandas as pd
import numpy as np
import pickle
import json

# Load Files

In [19]:
# load files

with open('list_cat_cols.txt', 'r') as file_1:
    list_cat_cols = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
    list_num_cols = json.load(file_2)

with open('rf_ms_1.pkl', 'rb') as file_3:
  rf_ms_1 = pickle.load(file_3)

# Creat New Data

In [20]:
# Create new data

data_inf = {
    'marital_status' : 1,
    'application_mode' : 4,
    'application_order' : 2,
    'course' : 8,
    'daytime' : 1,
    'prev_qualification' : 1,
    'nationality' : 13,
    'mother_qualification' : 1,
    'father_qualification' : 1,
    'mother_occupation' : 2,
    'father_occupation' : 2,
    'displaced' : 0,
    'special_needs' : 0,
    'debtor' : 0,
    'tuition_fee' : 1,
    'gender' : 1,
    'scholarship' : 0,
    'age' : 19,
    'international' : 4,
    'sem1_credited' : 2,
    'sem1_enrolled' : 6,
    'sem1_eval' : 4,
    'sem1_approved' : 3,
    'sem1_grade' : 10,
    'sem1_wo_eval' : 2,
    'sem2_credited' : 3,
    'sem2_enrolled' : 5,
    'sem2_eval' : 5,
    'sem2_approved' : 5,
    'sem2_grade' : 14,
    'sem2_wo_eval' : 0,
    'unemployment_rate' :10.95,
    'inflation_rate' : 1.5,
    'gdp' : 1.75,
    'app_mode_ringkas' : 'Lainnya',
    'course_ringkas' : 'Pendidikan',
    'prev_qualification_ringkas' : 'SMA',
    'continent' : 'Europe',
    'mother_qualification_ringkas' : 'SMA',
    'father_qualification_ringkas' : 'SMA',
    'mother_occupation_ringkas' : 'Pekerja swasta',
    'father_occupation_ringkas' : 'Pekerja swasta'
}

data_inf = pd.DataFrame([data_inf])

data_inf

,marital_status,application_mode,application_order,course,daytime,prev_qualification,nationality,mother_qualification,father_qualification,mother_occupation,...,inflation_rate,gdp,app_mode_ringkas,course_ringkas,prev_qualification_ringkas,continent,mother_qualification_ringkas,father_qualification_ringkas,mother_occupation_ringkas,father_occupation_ringkas
0,1,4,2,8,1,1,13,1,1,2,...,1.5,1.75,Lainnya,Pendidikan,SMA,Europe,SMA,SMA,Pekerja swasta,Pekerja swasta

# Predict

In [21]:
# Predict data

y_pred_inf = rf_ms_1.predict(data_inf)

print('Target: ', y_pred_inf[0])

Target:  Graduate

Setelah dilakukan prediksi, mahasiswa tersebut akan lulus. Mahasiswa ini